#!/bin/bash
#SBATCH --job-name=start_test_job_array
#SBATCH --nodes=1
#SBATCH --output=/dev/null
#SBATCH --error=/dev/null
#SBATCH --array=0-@@TEST_ARR_LEN
#SBATCH --oversubscribe

TEST_ARR=(@@TEST_ARR)

nice start_test ${TEST_ARR[$SLURM_ARRAY_TASK_ID]} -norecurse -logfile=start_test_log_$SLURM_ARRAY_TASK_ID
